@using ELearning.DomainModels;
@using ELearning.Web.AppCodes;
@model CourseCreateViewModel
@inject SelectListHelper SelectListHelper

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">
            <a asp-action="Index" asp-controller="Course" style="text-decoration: none;">Khóa học của tôi</a>
            /
        </span> @ViewBag.Title
    </h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 col-md-10 col-lg-10 mx-md-auto">
                <h5 class="card-header">Thông tin khóa học</h5>
                <!-- Account -->

                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            @ViewBag.ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form asp-action="SaveCourse" asp-controller="Course" method="post" id="formSaveCourse" enctype="multipart/form-data">
                        <div class="row">
                            <div class="card-body">
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <input asp-for="CourseId" class="form-control"
                                           type="hidden" value="@Model.CourseId" />
                                    <input asp-for="CourseImage" class="form-control"
                                           type="hidden" value="@Model.CourseImage" />
                                    <img src="~/media/course/@Model.CourseImage"
                                         alt="course-image"
                                         class="d-block rounded"
                                         height="100"
                                         width="100"
                                         id="photo" />
                                    <div class="button-wrapper">
                                        <label for="uploadPhoto" class="btn btn-primary me-2 mb-4" tabindex="0">
                                            <span class="d-none d-sm-block">Tải ảnh lên</span>
                                            <i class="bx bx-upload d-block d-sm-none"></i>
                                            <input type="file"
                                                   id="uploadPhoto"
                                                   class="account-file-input"
                                                   name="uploadPhoto"
                                                   accept="image/*"
                                                   onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])" hidden />

                                        </label>
                                        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" onclick="resetCourseImage()">
                                            <i class="bx bx-reset d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Đặt lại</span>
                                        </button>

                                        <p class="text-muted mb-0">Ảnh thuộc loại JPG, GIF hoặc PNG. Kích thước tối đa 1500Kb</p>
                                        @Html.ValidationMessageFor(m => m.CourseImage, "", new {@class="text-danger"})
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <input asp-for="CourseId" class="form-control"
                                   type="hidden" />


                            <div class="mb-3 mt-3 col-md-12">
                                <label for="CourseName" class="form-label">Tên khóa học</label>
                                <input asp-for="CourseName" class="form-control"
                                       type="text"
                                       autofocus value="@Model.CourseName" required />
                                @Html.ValidationMessageFor(m => m.CourseName, "", new {@class="text-danger"})
                            </div>

                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="topic">Chủ đề</label>
                                <select asp-for="TopicId" id="topic" class="select2 form-select">
                                    <option value="0">Chọn chủ đề</option>
                                    @{
                                        var topicList = await SelectListHelper.TopicSelectList();
                                        foreach (var topic in topicList)
                                        {
                                            if (topic.Value == Model.TopicId.ToString())
                                            {
                                                <option value="@topic.Value" selected>@topic.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@topic.Value">@topic.Text</option>
                                            }
                                        }
                                    }
                                </select>

                                @Html.ValidationMessageFor(m => m.TopicId, "", new {@class="text-danger"})
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="level">Cấp độ</label>
                                <select asp-for="LevelId" id="level" class="select2 form-select">
                                    <option value="0">Chọn cấp độ</option>
                                    @{
                                        var levelList = await SelectListHelper.LevelSelectList();
                                        foreach (var level in levelList)
                                        {
                                            if (level.Value == Model.LevelId.ToString())
                                            {
                                                <option value="@level.Value" selected>@level.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@level.Value">@level.Text</option>
                                            }

                                        }
                                    }
                                </select>

                                @Html.ValidationMessageFor(m => m.LevelId, "", new {@class="text-danger"})
                            </div>

                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="courseduration">Thời lượng</label>
                                <input asp-for="Duration" type="text"
                                       name="Duration"
                                       class="form-control" value="@Model.Duration" />

                                @Html.ValidationMessageFor(m => m.Duration, "", new {@class="text-danger"})
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="price" class="form-label">Giá bán</label>
                                <input asp-for="Price" type="number" class="form-control" id="price" name="price" value="@Model.Price" />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="saleprice" class="form-label">Giá Sale</label>
                                <input asp-for="SalePrice" type="number"
                                       class="form-control"
                                       id="saleprice"
                                       name="saleprice" value="@Model.SalePrice" />
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="salestart" class="form-label">Ngày bắt đầu giảm giá</label>

                                <input asp-for="SaleStart" id="datepicker1" class="form-control" type="datetime" value="@Model.SaleStart">

                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="saleend" class="form-label">Ngày kết thúc giảm giá</label>
                                <input asp-for="SaleEnd" id="datepicker2" class="form-control" type="datetime" value="@Model.SaleEnd">
                            </div>
                            <div class="mb-3 col-md-12">
                                <label for="exampleFormControlTextarea1" class="form-label">Short description</label>
                                <textarea asp-for="ShortDescription" id="autosize-demo" rows="2" class="form-control" style="overflow: hidden; overflow-wrap: break-word; resize: none; text-align: start; height: 64.6px;" placeholder="">@Model.ShortDescription</textarea>

                                @Html.ValidationMessageFor(m => m.ShortDescription, "", new {@class="text-danger"})
                            </div>

                            <div class="mb-3 col-md-12 ql-container">
                                <label for="example" class="form-label">
                                    <strong>Description</strong>
                                </label>
                                <input asp-for="Description" type="hidden" />
                                <div id="editor" class="ql-container ql-snow">
                                    @Html.Raw(Model.Description)
                                </div>

                            </div>

                            @Html.ValidationMessageFor(m => m.Description, "", new {@class="text-danger"})


                            <div class="form-check form-switch mb-3 col-md-6" style="margin-left: 0.8rem;">
                                @if (Model.IsFree == true)
                                {
                                    <input asp-for="IsFree" class="form-check-input" type="checkbox" id="isfree" value="true" checked />
                                }
                                else
                                {
                                    <input asp-for="IsFree" class="form-check-input" type="checkbox" id="isfree" value="true" />
                                }
                                <label class="form-check-label" for="isfree">
                                    Free
                                </label>
                            </div>
                            <div class="mt-2">

                                @if (ViewBag.Title == "Cập nhật khóa học")
                                {
                                    <button type="submit" class="btn btn-primary me-2" id="getTextBtn">Lưu thay đổi</button>
                                    <a asp-action="CourseDetail" asp-controller="Course" asp-route-id="@Model.CourseId" type="button" class="btn btn-outline-secondary">Quay lại</a>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary me-2" id="getTextBtn">Tạo khóa học</button>
                                    <a asp-action="Index" asp-controller="Course" type="button" class="btn btn-outline-secondary">Hủy</a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        function resetCourseImage() {
            document.getElementById('photo').src = "";
            document.getElementById('uploadPhoto').value = "";
        }

    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
        });
    </script>
    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });

        document.getElementById('getTextBtn').addEventListener('click', (e) => {
            e.preventDefault();
            const editorContent = quill.getText();
            const editorHTML = quill.root.innerHTML;
            console.log(editorContent);
            console.log(editorHTML);

            // Set the hidden input field's value to the HTML content
            document.querySelector('input[name="Description"]').value = editorHTML;

            // Submit the form
            document.getElementById('formSaveCourse').submit();
        });


    </script>
}